header {
  background-color:rgb(17,17,18);
  border-color:rgb(17,17,18);
  outline-color:rgb(17,17,18);
  color:rgb(255,255,255);
}
section {
  width:100%;
  display:flex;
  justify-content:space-between;
  padding:6px;
}