header {
  background-color:rgb(17,17,18);
  border-color:rgb(17,17,18);
  outline-color:rgb(17,17,18);
  color:rgb(255,255,255);
  display:flex;
  align-items:center;
  justify-content:space-between;
  width:100%;
  padding:16px;
}
