* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  height:100vh;
}
header {
  background-color:rgb(17,17,18);
  border-color:rgb(17,17,18);
  outline-color:rgb(17,17,18);
  color:rgb(255,255,255);
  display:flex;
  align-items:center;
  justify-content:space-between;
  width:100%;
  padding:16px;
}
main {
  background-color:rgb(32,32,32);
  color:white;
  overflow:hidden;
  height:100%;
  width:100%;
}
.container {
  background-color:black;
  padding:6px;
  color:white;
  overflow:hidden;
  display:flex;
  flex-direction:row;

}
.container fieldset {
  background-color:#00000000;
  border:3px solid white;
  border-radius:18px;
  height:250px;
  width:200px;
  margin:10px;
}
.container fieldset > legend {
  position:absolute;
  background-color:white;
  border-radius:6px;
  border-top-left-radius:10px;
  border-top-right-radius:0px;
  padding:5px;
  color:black;
  backdrop-filter:blur(15px);
  box-shadow:0 0 10px 1px rgba(0,0,0,0.35);
  -webkit-backdrop-filter:blur(15px);
  text-align:center;
}
.container fieldset > img {
  border-radius:18px;
  height:100%;
  width:100%;
}
  @keyframes appear {
  from{
    opacity:0;
    translate: -100vh 0;
  }
  to{
    opacity:1;
    translate: 0 0;
  }
}
footer {
  background-color:rgb(17,17,18);
  color:rgb(255,255,255);
  text-align:center;
  padding:8px;
  border-color:rgb(17,17,18);
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:row;
}
footer a {
  margin:15px;
}
footer #link-insta {
  background-color:white;
  border-radius:50%;
  text-decoration:none;
  height:40px;
  width:40px;
  display:flex;
  align-items:center;
  justify-content:center;
}
footer #link-whatszap {
  background-color:white;
  border-radius:50%;
  text-decoration:none;
  height:30px;
  width:30px;
  display:flex;
  align-items:center;
  justify-content:center;
}
footer #icone-insta {
  width:50px;
}
footer #icone-zap {
  width:58px;
}