main {
  background-color:rgb(32,32,32);
  color:white;
  overflow:hidden;
  height:100%;
  width:100%;
  margin-bottom:5px;
  display:flex;
  align-items:center;
  justify-content:center;
}
.carrossel {
  background-color:rgb(17,17,18);
  height:500px;
  width:500px;
  overflow:hidden;
}
.container {
  padding:6px;
  color:white;
  display:flex;
  align-items:center;
  justify-content:center;
}
.container fieldset {
  background-color:#00000000;
  border:3px solid white;
  border-radius:18px;
  height:250px;
  width:200px;
  margin:10px;
}
.container fieldset > legend {
  background-color:white;
  border-radius:6px;
  border-top-left-radius:10px;
  border-top-right-radius:0px;
  padding:5px;
  color:black;
}
.container fieldset > img {
  border-radius:18px;
  height:100%;
  width:100%;
}